%h1 Vote menu

.vote-menu
  .row.centered
    .col-md-4
      - link = new_vote_path(vote_target: 'Lt')
      .vote_icon
        = link_to fa_icon(:microphone), link
      %h4
        = link_to 'vote LT', link
    .col-md-4
      - link = new_vote_path(vote_target: "Sake")
      .vote_icon
        = link_to fa_icon(:glass), link
      %h4
        = link_to 'vote Sake', link
    .col-md-4
      - link = new_vote_path(vote_target: 'Food')
      .vote_icon
        = link_to fa_icon(:cutlery), link
      %h4
        = link_to 'vote Food', link
