= form_for(@vote) do |f|
  - @vote_targets.each do |vote_target|
    .radio
      %label
        = f.radio_button :vote_target_id, vote_target.id
        = vote_target.title_and_nickname

  .form-group.comment
    = f.text_area :comment, class: 'form-control', placeholder: "コメント！(任意)"

  .form-group
    = f.submit button_label, class: 'btn btn-lg btn-block btn-primary'
